* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 14px;
  max-width: 768px;
  margin: 0 auto;
  padding: 10px;
}

.compose-box {
  margin-top: 10px;
  position: relative;
}

.compose-box__textarea {
  width: 100%;
  resize: none;
}

.broadcast-list {
  margin-top: 10px;
  border: 1px solid #ccc;
}

.broadcast-row {
  min-height: 120px;
  padding: 10px;
  position: relative;
  white-space: pre;
  border-bottom: 1px solid #ccc;
}

.broadcast-row:hover {
  background-color: #ddd;
}

.broadcast-row__owner {
  position: absolute;
  top: 10px;
}

.broadcast-row__hover-target {
  top: 10px;
  bottom: 10px;
  right: 100px;
  left: 10px;
}

.broadcast-row__username {
  margin: 0 1px;
  color: grey;
}

.broadcast-content-container {
  float: left;
  width: calc(100% - 120px);
  margin: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.broadcast-details-container {
  float: right;
  width: 100px;
}

.broadcast-time {
  margin: 10px;
  width: 80px;
  height: 80px;
}


.hold {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  clip: rect(0px, 80px, 80px, 40px);
}

.pie-slice{
  background-color: #dbdbdb;
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  clip: rect(0px, 40px, 80px, 0px);
}

.pie-foreground {
  background-color: white;
  position: absolute;
  width: 60px;
  height: 60px;
  margin: 10px;
  border-radius: 30px;
}

.num-rebroadcasts {
  width: 100%;
  height: 40px;
  text-align: center;
  line-height: 60px;
}

.rotation-container {
  position: absolute;
  margin: 10px;
}

.grey {
}

.orange {
  position: absolute;
  //display: none;
  background-image: url(./assets/rb-orange.svg);
  width: 60px;
  height: 60px;
}
